roles/editors/emacs/files/emacs.d/*.cache
roles/editors/emacs/files/emacs.d/.#*
roles/editors/emacs/files/emacs.d/.*
roles/editors/emacs/files/emacs.d/.recentf
roles/editors/emacs/files/emacs.d/SessionDesktop.el
roles/editors/emacs/files/emacs.d/ac-comphist.dat
roles/editors/emacs/files/emacs.d/auto-save-list
roles/editors/emacs/files/emacs.d/backups
roles/editors/emacs/files/emacs.d/cider-history
roles/editors/emacs/files/emacs.d/custom.el
roles/editors/emacs/files/emacs.d/elpa
roles/editors/emacs/files/emacs.d/eshell
roles/editors/emacs/files/emacs.d/games
roles/editors/emacs/files/emacs.d/ido.last
roles/editors/emacs/files/emacs.d/places
roles/editors/emacs/files/emacs.d/projectile-bookmarks.eld
roles/editors/emacs/files/emacs.d/recentf
roles/editors/emacs/files/emacs.d/smex-items
roles/editors/emacs/files/emacs.d/tramp
roles/editors/emacs/files/emacs.d/url/
roles/editors/emacs/files/emacs.d/magithub

roles/editors/vim/files/vim/.netrwhist
roles/editors/vim/files/vim/_backup
roles/editors/vim/files/vim/_temp
roles/editors/vim/files/vim/_undo
roles/editors/vim/files/vim/bundle
roles/editors/vim/files/vim/doc/tags
roles/editors/vim/files/vim/doc/tags-ja
roles/editors/vim/files/vim/plugged
roles/editors/vim/files/vim/vendor/vim-plug

roles/terminal/files/lein/repl-history
roles/applications/files/alfred/Alfred.alfredpreferences/remote

.ansible
