vim/.netrwhist
vim/bundle
vim/doc/tags-ja
vim/_temp
vim/_backup
vim/_undo
vim/doc/tags
vim/plugged
*.un~
emacs.d/.#*
emacs.d/.*
emacs.d/auto-save-list
emacs.d/backups
emacs.d/eshell
emacs.d/ac-comphist.dat
emacs.d/cider-history
emacs.d/ido.last
emacs.d/places
emacs.d/games
emacs.d/projectile-bookmarks.eld
emacs.d/recentf
emacs.d/.recentf
emacs.d/SessionDesktop.el
emacs.d/smex-items
emacs.d/elpa
emacs.d/*.cache
emacs.d/tramp
/emacs.d/url/
