home/.vim/.netrwhist
home/.vim/bundle
home/.vim/doc/tags-ja
home/.vim/_temp
home/.vim/_backup
home/.vim/_undo
home/.vim/doc/tags
home/.vim/plugged
home/.emacs.d/.#*
home/.emacs.d/.*
home/.emacs.d/auto-save-list
home/.emacs.d/backups
home/.emacs.d/eshell
home/.emacs.d/ac-comphist.dat
home/.emacs.d/cider-history
home/.emacs.d/ido.last
home/.emacs.d/places
home/.emacs.d/games
home/.emacs.d/projectile-bookmarks.eld
home/.emacs.d/recentf
home/.emacs.d/.recentf
home/.emacs.d/SessionDesktop.el
home/.emacs.d/smex-items
home/.emacs.d/elpa
home/.emacs.d/*.cache
home/.emacs.d/tramp
home/.emacs.d/url/
