[user]
	email = stefanroex@gmail.com
	name = Stefan Roex
[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore
[branch]
  # Tells git branch and git checkout to set up new branches so that git-pull will appropriately merge from the starting point branch
  autosetupmerge = true
[pull]
  # Rebase branches on top of the fetched branch
  rebase = true
[rerere]
  # Activate recording of resolved conflicts, so that identical conflict hunks can be resolved automatically.
  enabled = true
[credential]
  # Specify an external helper to be called when a username or password credential is needed
  helper = osxkeychain
[alias]
  b = branch -v
  d = diff
  dc = diff --cached
  l = log --graph --date=short
  rc = rebase --continue
  r = remote -v
  st = status
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[format]
  pretty = format:%C(white)%ad%Creset %C(green)%h%C(yellow)%d%Creset %C(white)%s %C(magenta) [%an]%Creset
[github]
	user = stefanroex
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
