---
- name: Show ~/Library
  shell: chflags nohidden ~/Library
  changed_when: False

- name: General - Show battery percentage
  notify: killall osx
  osx_defaults:
    domain: com.apple.menuextra.battery
    key: ShowPercent
    value: YES

- name: General - Disable opening application warnings
  notify: killall osx
  osx_defaults:
    domain: com.apple.LaunchServices
    key: LSQuarantine
    type: bool
    value: false

- name: General - Avoid creating .DS_Store files on network volumes
  notify: killall osx
  osx_defaults:
    domain: com.apple.desktopservices
    key: DSDontWriteNetworkStores
    type: bool
    value: true

- name: General - Fast key repeat
  notify: killall osx
  osx_defaults:
    domain: NSGlobalDomain
    key: KeyRepeat
    type: float
    value: 2

- name: General - Initial key repeat
  notify: killall osx
  osx_defaults:
    domain: NSGlobalDomain
    key: InitialKeyRepeat
    type: float
    value: 15

- name: General - Click wallpaper to show desktop only in Stage Manager
  notify: killall osx
  osx_defaults:
    domain: com.apple.WindowManager
    key: EnableStandardClickToShowDesktop
    type: bool
    value: false

- name: General - Set wallpaper to Stone
  copy:
    src: "{{ role_path }}/files/wallpaper.plist"
    dest: "~/Library/Application Support/com.apple.wallpaper/Store/Index.plist"

- name: General - Trackpad tap to click
  notify: killall osx
  osx_defaults:
    domain: com.apple.driver.AppleBluetoothMultitouch.trackpad
    key: Clicking
    type: int
    value: 1
