---
- name: Ruby - Install packages
  homebrew:
    name:
      - rbenv
      - ruby-build
    state: present
  ignore_errors: true

- name: Ruby - Copy dotfiles
  file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "~/.{{ item }}"
    state: link
  loop:
    - bundle
    - gemrc
    - irbrc
    - rspec
