---
- name: Clojure - Add borkdude tap
  homebrew_tap:
    name: borkdude/brew
    state: present

- name: Clojure - Install packages
  homebrew:
    name:
      - clojure
      - clojure-lsp
      - borkdude/brew/babashka
      - borkdude/brew/clj-kondo
      - borkdude/brew/jet
    state: present

- name: Clojure - Copy dotfiles
  file:
    src: "{{ role_path }}/files/clojure"
    dest: "~/.clojure"
    state: link
