---
- name: Clojure - Add borkdude tap
  homebrew_tap:
    name: borkdude/brew
    state: present

- name: Clojure - Install packages
  homebrew:
    formula: "{{ item }}"
    state: present
  loop:
    - clojure
    - clojure-lsp
    - borkdude/brew/babashka
    - borkdude/brew/clj-kondo
    - borkdude/brew/jet

- name: Clojure - Copy dotfiles
  file:
    src: "{{ role_path }}/files/clojure"
    dest: "~/.clojure"
    state: link
