---
- name: Dotfiles - Copy zprezto
  git:
    repo: "https://github.com/sorin-ionescu/prezto.git"
    dest: "~/.zprezto"
    depth: 1

- name: Dotfiles - Ensure .config directory
  file:
    path: "~/.config"
    state: directory

- name: Dotfiles - Ensure .local/bin directory
  file:
    path: "~/.local/bin"
    state: directory

- name: Dotfiles - Copy bin scripts
  file:
    src: "{{ role_path }}/files/bin/{{ item }}"
    dest: "~/.local/bin/{{ item }}"
    state: link
  loop:
    - bm

- name: Dotfiles - Copy dotfiles
  file:
    src: "{{ role_path }}/files/dotfiles/{{ item }}"
    dest: "~/.{{ item }}"
    state: link
  loop:
    - config/ghostty
    - rgignore
    - gitconfig
    - gitignore
    - profile
    - zpreztorc
    - zsh
    - zshrc
