---
- name: Homebrew - Update
  homebrew:
    update_homebrew: yes

- name: Homebrew - Install packages
  homebrew:
    formula: "{{ item }}"
    state: present
  ignore_errors: true
  loop:
    - 7zip
    - awscli
    - bat
    - chamber
    - elasticsearch-full
    - eza
    - fd
    - fzf
    - gh
    - ghostty
    - git
    - heroku
    - jq
    - openjdk
    - openssl
    - pgcli
    - postgresql@18
    - ripgrep
    - visidata
    - shellcheck
    - ssh-copy-id
    - terraform
    - tflint
    - tokei
    - tree
    - valkey
    - wget
    - zoxide
    - zsh
