---
- name: Homebrew - Update
  homebrew:
    update_homebrew: yes

- name: Homebrew - Install packages
  homebrew:
    formula: "{{ item }}"
    state: present
  ignore_errors: true
  loop:
    - 7zip
    - awscli
    - bat
    - chamber
    - eza
    - fd
    - fzf
    - ghostty
    - git
    - jq
    - openssl
    - pgcli
    - postgresql@17
    - ripgrep
    - visidata
    - ssh-copy-id
    - terraform
    - tokei
    - wget
    - zoxide
    - zsh
