---
- name: Emacs - Add cask tap
  homebrew_tap:
    name: d12frosted/emacs-plus
    state: present

- name: Emacs - Install
  homebrew:
    name: emacs-plus@30
    state: installed

- name: Emacs - Install GNU utils
  homebrew:
    formula: gnutls
    state: installed

- name: Emacs - ensure custom.el exists
  copy:
    content: ""
    dest: "{{ role_path }}/files/emacs.d/custom.el"
    force: no

- name: Emacs - copy emacs.d
  file:
    src: "{{ role_path }}/files/emacs.d"
    dest: "~/.emacs.d"
    state: link
